nodered/flows/flows.json
[{"id":"1f43eca1.2b5613","type":"tab","label":"Env flow","disabled":false,"info":""},{"id":"2cfe870a.c87408","type":"mqtt out","z":"1f43eca1.2b5613","name":"","topic":"greenhouse/temp","qos":"","retain":"","broker":"3917946.dbacd6c","x":890,"y":217.75,"wires":[]},{"id":"68f96b3.2de0a14","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/temp","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":316.25006103515625,"y":352.2500305175781,"wires":[["6501b329.aeaef4"]]},{"id":"629c5a5b.88faec","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/temp","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":319.5000305175781,"y":413.7500305175781,"wires":[["eb6362bb.00c4f8"]]},{"id":"6501b329.aeaef4","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":701.5000610351562,"y":354.7500305175781,"wires":[[]]},{"id":"91545b78.d562a","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Fan response","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":722.2500610351562,"y":514.5,"wires":[]},{"id":"cfd1d71c.657bf","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"110","payloadType":"num","repeat":"20","crontab":"","once":true,"onceDelay":"7","x":336.25,"y":249.5,"wires":[[]]},{"id":"69324ad4.2f33fc","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"98","payloadType":"num","repeat":"20","crontab":"","once":true,"onceDelay":"5","x":377.75,"y":292.75,"wires":[[]]},{"id":"93d27d49.c0e338","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"120","payloadType":"num","repeat":"20","crontab":"","once":true,"onceDelay":"10","x":291.7500305175781,"y":207.99998474121094,"wires":[[]]},{"id":"eb6362bb.00c4f8","type":"range","z":"1f43eca1.2b5613","minin":"0","maxin":"140","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":510.7501220703125,"y":413.25006103515625,"wires":[["56c6d796.25d198","3262c464.d20764"]]},{"id":"56c6d796.25d198","type":"mqtt out","z":"1f43eca1.2b5613","name":"mqtt fan pub","topic":"greenhouse/fan/request","qos":"","retain":"","broker":"3917946.dbacd6c","x":699.5001220703125,"y":413.75,"wires":[]},{"id":"e6cb2151.5d2848","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":317.25006103515625,"y":477,"wires":[["91545b78.d562a"]]},{"id":"33728a5.dbbab76","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"1","x":549.25,"y":98.25,"wires":[["2cfe870a.c87408"]]},{"id":"d350137f.56a6c8","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"13","x":550.75,"y":187.5,"wires":[["2cfe870a.c87408"]]},{"id":"7e60fdd8.5bcc24","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"15","x":550.7500610351562,"y":248.5,"wires":[["2cfe870a.c87408"]]},{"id":"c842550c.0e9058","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"17","x":551,"y":143.25,"wires":[["2cfe870a.c87408"]]},{"id":"3262c464.d20764","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Fan request","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":699,"y":469,"wires":[]},{"id":"4939161c.a8e4c8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt devices online sub","topic":"greenhouse/devices/online","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":337,"y":622,"wires":[["9c762807.584c7"]]},{"id":"9c762807.584c7","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":3,"width":0,"height":0,"label":"devices online","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":671,"wires":[[]]},{"id":"6b23b340.5cf87c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":328,"y":569,"wires":[["ca3c6ebb.dfa0a"]]},{"id":"ca3c6ebb.dfa0a","type":"debug","z":"1f43eca1.2b5613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":516,"y":576,"wires":[]},{"id":"3917946.dbacd6c","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"myrabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4439c2f.979b3","type":"ui_group","z":"","name":"Temp","tab":"599e71a.534d91","order":1,"disp":true,"width":"6","collapse":false},{"id":"599e71a.534d91","type":"ui_tab","z":"","name":"Greenhouse","icon":"dashboard","order":1,"disabled":false,"hidden":false}]