nodered/flows/flows.json
[{"id":"1f43eca1.2b5613","type":"tab","label":"Env flow","disabled":false,"info":""},{"id":"2cfe870a.c87408","type":"mqtt out","z":"1f43eca1.2b5613","name":"mqtt env temp pub","topic":"greenhouse/env/temp/F","qos":"","retain":"","broker":"3917946.dbacd6c","x":664,"y":212.75,"wires":[]},{"id":"68f96b3.2de0a14","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/env/temp/F","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":316.25006103515625,"y":352.2500305175781,"wires":[["6501b329.aeaef4"]]},{"id":"629c5a5b.88faec","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/env/temp/F","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":319.5000305175781,"y":413.7500305175781,"wires":[["eb6362bb.00c4f8"]]},{"id":"6501b329.aeaef4","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Temp (F)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":691.5000610351562,"y":354.7500305175781,"wires":[[]]},{"id":"91545b78.d562a","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Fan Speed (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.5,"y":534,"wires":[]},{"id":"eb6362bb.00c4f8","type":"range","z":"1f43eca1.2b5613","minin":"30","maxin":"160","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":510.7501220703125,"y":413.25006103515625,"wires":[["56c6d796.25d198","3262c464.d20764"]]},{"id":"56c6d796.25d198","type":"mqtt out","z":"1f43eca1.2b5613","name":"mqtt fan pub","topic":"greenhouse/fan/request","qos":"","retain":"","broker":"3917946.dbacd6c","x":699.5001220703125,"y":413.75,"wires":[]},{"id":"e6cb2151.5d2848","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":327.25,"y":529.5,"wires":[["91545b78.d562a"]]},{"id":"33728a5.dbbab76","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":323.25,"y":93.25,"wires":[["2cfe870a.c87408"]]},{"id":"d350137f.56a6c8","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"13","x":324.75,"y":182.5,"wires":[["2cfe870a.c87408"]]},{"id":"7e60fdd8.5bcc24","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"15","x":324.75006103515625,"y":243.5,"wires":[["2cfe870a.c87408"]]},{"id":"c842550c.0e9058","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"17","x":325,"y":138.25,"wires":[["2cfe870a.c87408"]]},{"id":"3262c464.d20764","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Requested Speed (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":729,"y":469,"wires":[]},{"id":"6b23b340.5cf87c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":329.25,"y":826.75,"wires":[["ca3c6ebb.dfa0a"]]},{"id":"ca3c6ebb.dfa0a","type":"debug","z":"1f43eca1.2b5613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":694.7500610351562,"y":822.5,"wires":[]},{"id":"e7000816.43b6e8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env CO2 sub","topic":"greenhouse/env/CO2/ppm","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":328,"y":885,"wires":[["9163ec92.c964f"]]},{"id":"9163ec92.c964f","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":2,"width":0,"height":0,"label":"CO2 (ppm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":703.25,"y":887.5,"wires":[[]]},{"id":"949e496b.941d","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env TVOC sub","topic":"greenhouse/env/TVOC/ppb","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":336,"y":949,"wires":[["4d12fd6f.3004ec"]]},{"id":"4d12fd6f.3004ec","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":4,"width":0,"height":0,"label":"TVOC (ppb)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":711.25,"y":951.5,"wires":[[]]},{"id":"2679f3cf.a49e04","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env temp C sub","topic":"greenhouse/env/temp/C","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":338,"y":1015,"wires":[["7859deaf.94dcb"]]},{"id":"7859deaf.94dcb","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":5,"width":0,"height":0,"label":"temp (C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":693.25,"y":1017.5,"wires":[[]]},{"id":"4d79cf42.a4fa98","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env temp F sub","topic":"greenhouse/env/temp/F","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":343,"y":1071,"wires":[["a7a20db5.c30bf"]]},{"id":"a7a20db5.c30bf","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":1,"width":0,"height":0,"label":"temp (F)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":698.25,"y":1073.5,"wires":[[]]},{"id":"88aa30c2.f570c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env pressure PA sub","topic":"greenhouse/env/pressure/Pa","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":370,"y":1121,"wires":[["3041970e.9b9578"]]},{"id":"3041970e.9b9578","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":6,"width":0,"height":0,"label":"pressure (PA)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":735.25,"y":1126.5,"wires":[[]]},{"id":"9d903e10.97828","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env pressure InHg sub","topic":"greenhouse/env/pressure/InHg","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":345,"y":1170,"wires":[["d20efc76.bd35f"]]},{"id":"d20efc76.bd35f","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":7,"width":0,"height":0,"label":"pressure (InHg)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700.25,"y":1175.5,"wires":[[]]},{"id":"1a266406.f07f44","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env altitude m sub","topic":"greenhouse/env/altitude/m","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":334,"y":1212,"wires":[["bad530fd.07ac9"]]},{"id":"bad530fd.07ac9","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":8,"width":0,"height":0,"label":"altitude (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":699.25,"y":1217.5,"wires":[[]]},{"id":"5799dc97.9b1c3c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env altitude ft sub","topic":"greenhouse/env/altitude/ft","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":340,"y":1262,"wires":[["5f4f086d.7d842"]]},{"id":"5f4f086d.7d842","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":9,"width":0,"height":0,"label":"altitude (ft)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":705.25,"y":1267.5,"wires":[[]]},{"id":"1b0d5739.38eaa1","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env humidity percent sub","topic":"greenhouse/env/humidity/percent","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":377,"y":1331,"wires":[["1f49e956.08fed7"]]},{"id":"1f49e956.08fed7","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":3,"width":0,"height":0,"label":"humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":712.25,"y":1336.5,"wires":[[]]},{"id":"b0242d9b.ab0de8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/request","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":323.0000305175781,"y":651.7499847412109,"wires":[["9c39e344.f3679"]]},{"id":"9c39e344.f3679","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 24 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":726.25,"y":655,"wires":[[]]},{"id":"1d771b68.9140c5","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/request","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":323.75,"y":708.75,"wires":[["5bb9a087.bc59d8"]]},{"id":"5bb9a087.bc59d8","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 2 days","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":718.2499389648438,"y":708.2500305175781,"wires":[[]]},{"id":"4e4a8e86.b589b8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/request","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":326.25,"y":753.75,"wires":[["1444abab.4f7dcc"]]},{"id":"1444abab.4f7dcc","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 7 days","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":718.2499389648438,"y":754.5000305175781,"wires":[[]]},{"id":"1fa7a2e4.8a2a75","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/request","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":335,"y":607.5,"wires":[["383b7190.2a6fd6"]]},{"id":"383b7190.2a6fd6","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 12 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":738.2499694824219,"y":610.7500152587891,"wires":[[]]},{"id":"3917946.dbacd6c","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"myrabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4439c2f.979b3","type":"ui_group","z":"","name":"Fan Control","tab":"599e71a.534d91","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e8ca14f.515bb","type":"ui_group","z":"","name":"Environment","tab":"599e71a.534d91","disp":true,"width":"18","collapse":false},{"id":"599e71a.534d91","type":"ui_tab","z":"","name":"Greenhouse","icon":"dashboard","order":1,"disabled":false,"hidden":false}]