nodered/flows/flows.json
[{"id":"1f43eca1.2b5613","type":"tab","label":"Env flow","disabled":false,"info":""},{"id":"2cfe870a.c87408","type":"mqtt out","z":"1f43eca1.2b5613","name":"mqtt env temp pub","topic":"greenhouse/env/temp/F","qos":"","retain":"","broker":"3917946.dbacd6c","x":664,"y":212.75,"wires":[]},{"id":"629c5a5b.88faec","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/env/temp/F","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":319.5000305175781,"y":413.7500305175781,"wires":[["eb6362bb.00c4f8"]]},{"id":"91545b78.d562a","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Fan Speed (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690.4999694824219,"y":577.75,"wires":[]},{"id":"eb6362bb.00c4f8","type":"range","z":"1f43eca1.2b5613","minin":"30","maxin":"160","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"","x":510.7501220703125,"y":413.25006103515625,"wires":[["56c6d796.25d198","3262c464.d20764"]]},{"id":"56c6d796.25d198","type":"mqtt out","z":"1f43eca1.2b5613","name":"mqtt fan pub","topic":"greenhouse/fan/request","qos":"","retain":"","broker":"3917946.dbacd6c","x":699.5001220703125,"y":413.75,"wires":[]},{"id":"e6cb2151.5d2848","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":312.2499694824219,"y":573.25,"wires":[["91545b78.d562a"]]},{"id":"33728a5.dbbab76","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"70","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"1","x":323.25,"y":93.25,"wires":[["2cfe870a.c87408"]]},{"id":"d350137f.56a6c8","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"13","x":324.75,"y":182.5,"wires":[["2cfe870a.c87408"]]},{"id":"7e60fdd8.5bcc24","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"15","x":324.75006103515625,"y":243.5,"wires":[["2cfe870a.c87408"]]},{"id":"c842550c.0e9058","type":"inject","z":"1f43eca1.2b5613","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"17","x":325,"y":138.25,"wires":[["2cfe870a.c87408"]]},{"id":"3262c464.d20764","type":"ui_gauge","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":1,"width":0,"height":0,"gtype":"gage","title":"Requested Speed (%)","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":729,"y":469,"wires":[]},{"id":"6b23b340.5cf87c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt temp sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":294.2499694824219,"y":853,"wires":[["ca3c6ebb.dfa0a"]]},{"id":"ca3c6ebb.dfa0a","type":"debug","z":"1f43eca1.2b5613","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":659.7500305175781,"y":848.75,"wires":[]},{"id":"e7000816.43b6e8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env CO2 sub","topic":"greenhouse/env/CO2/ppm","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":299.25,"y":961.2500610351562,"wires":[["9163ec92.c964f"]]},{"id":"9163ec92.c964f","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":2,"width":0,"height":0,"label":"CO2 (ppm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":674.5,"y":963.7500610351562,"wires":[[]]},{"id":"949e496b.941d","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env TVOC sub","topic":"greenhouse/env/TVOC/ppb","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":307.25,"y":1025.2500610351562,"wires":[["4d12fd6f.3004ec"]]},{"id":"4d12fd6f.3004ec","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":4,"width":0,"height":0,"label":"TVOC (ppb)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":682.5,"y":1027.7500610351562,"wires":[[]]},{"id":"2679f3cf.a49e04","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env temp C sub","topic":"greenhouse/env/temp/C","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":309.25,"y":1091.2500610351562,"wires":[["7859deaf.94dcb"]]},{"id":"7859deaf.94dcb","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":5,"width":0,"height":0,"label":"temp (C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":664.5,"y":1093.7500610351562,"wires":[[]]},{"id":"4d79cf42.a4fa98","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env temp F sub","topic":"greenhouse/env/temp/F","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":314.25,"y":1147.2500610351562,"wires":[["a7a20db5.c30bf"]]},{"id":"a7a20db5.c30bf","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":1,"width":0,"height":0,"label":"temp (F)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":669.5,"y":1149.7500610351562,"wires":[[]]},{"id":"88aa30c2.f570c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env pressure PA sub","topic":"greenhouse/env/pressure/Pa","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":341.25,"y":1197.2500610351562,"wires":[["3041970e.9b9578"]]},{"id":"3041970e.9b9578","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":6,"width":0,"height":0,"label":"pressure (PA)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":706.5,"y":1202.7500610351562,"wires":[[]]},{"id":"9d903e10.97828","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env pressure InHg sub","topic":"greenhouse/env/pressure/InHg","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":316.25,"y":1246.2500610351562,"wires":[["d20efc76.bd35f"]]},{"id":"d20efc76.bd35f","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":7,"width":0,"height":0,"label":"pressure (InHg)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":671.5,"y":1251.7500610351562,"wires":[[]]},{"id":"1a266406.f07f44","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env altitude m sub","topic":"greenhouse/env/altitude/m","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":305.25,"y":1288.2500610351562,"wires":[["bad530fd.07ac9"]]},{"id":"bad530fd.07ac9","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":8,"width":0,"height":0,"label":"altitude (m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670.5,"y":1293.7500610351562,"wires":[[]]},{"id":"5799dc97.9b1c3c","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env altitude ft sub","topic":"greenhouse/env/altitude/ft","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":311.25,"y":1338.2500610351562,"wires":[["5f4f086d.7d842"]]},{"id":"5f4f086d.7d842","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":9,"width":0,"height":0,"label":"altitude (ft)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":676.5,"y":1343.7500610351562,"wires":[[]]},{"id":"1b0d5739.38eaa1","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt env humidity percent sub","topic":"greenhouse/env/humidity/percent","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":348.25,"y":1407.2500610351562,"wires":[["1f49e956.08fed7"]]},{"id":"1f49e956.08fed7","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"8e8ca14f.515bb","order":3,"width":0,"height":0,"label":"humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":683.5,"y":1412.7500610351562,"wires":[[]]},{"id":"b0242d9b.ab0de8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":308,"y":695.4999847412109,"wires":[["9c39e344.f3679"]]},{"id":"9c39e344.f3679","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 24 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":711.2499694824219,"y":698.75,"wires":[[]]},{"id":"1d771b68.9140c5","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":308.7499694824219,"y":752.5,"wires":[["5bb9a087.bc59d8"]]},{"id":"5bb9a087.bc59d8","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 2 days","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":703.2499084472656,"y":752.0000305175781,"wires":[[]]},{"id":"4e4a8e86.b589b8","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":311.2499694824219,"y":797.5,"wires":[["1444abab.4f7dcc"]]},{"id":"1444abab.4f7dcc","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 7 days","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":703.2499084472656,"y":798.2500305175781,"wires":[[]]},{"id":"1fa7a2e4.8a2a75","type":"mqtt in","z":"1f43eca1.2b5613","name":"mqtt fan response sub","topic":"greenhouse/fan/response","qos":"2","datatype":"auto","broker":"3917946.dbacd6c","x":319.9999694824219,"y":651.25,"wires":[["383b7190.2a6fd6"]]},{"id":"383b7190.2a6fd6","type":"ui_chart","z":"1f43eca1.2b5613","name":"","group":"a4439c2f.979b3","order":0,"width":0,"height":0,"label":"Fan (%) 12 hours","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":723.2499389648438,"y":654.5000152587891,"wires":[[]]},{"id":"3917946.dbacd6c","type":"mqtt-broker","z":"","name":"mqtt-broker","broker":"myrabbitmq","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4439c2f.979b3","type":"ui_group","z":"","name":"Fan Control","tab":"599e71a.534d91","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e8ca14f.515bb","type":"ui_group","z":"","name":"Environment","tab":"599e71a.534d91","disp":true,"width":"16","collapse":false},{"id":"599e71a.534d91","type":"ui_tab","z":"","name":"Greenhouse","icon":"dashboard","order":1,"disabled":false,"hidden":false}]